@font-face {
    font-family: Pixelated;
    src: url("../media/Fonts/Pixelated.ttf");
}

body {
    padding: 0;
    margin: 0;

    overflow-x: hidden;

    font-family: Pixelated;
}

/*WELCOME*/

#welcome-section {
    width: 100vw;
    height: 100vh;

    background-image: url("../media/Background.png");
    background-repeat: no-repeat;
    background-size: calc(120vh * (661/306)) 120vh;
    background-position-x: 50%;

    background-color: rgb(40, 35, 59);
}

#profile-pic {
    width: 15vh;

    position: relative;

    top: calc(100% - 17vh);
    left: 20px;

    border-radius: 100%;
}

#name-text {
    color: white;

    position: relative;
    left: calc(20px + 19vh);
    top: calc(100% - 48vh);

    text-anchor:start;

    font-size: 14vh;
}

/*Section wide stuff*/
.dropdown-arrow {
    transition: all .5s;
}

.dropdown-arrow:hover {
    padding-top: 2vh;
}


/*ABOUT ME*/

#about-me-section {
    width: 100vw;
    height: fit-content;
}

#about-me-open {
    width: 100vw;
    height: fit-content;

    background-color: #7884d1;

    text-align: center;

    h1 {
        margin: 0;
        color: white;

        font-size: 8vh;
    }

    img {
        margin-top: -2vh;

        mix-blend-mode: difference;

        width: 5vh;
    }
}

/*PAST WORK*/

#past-work-section {
    width: 100vw;
    height: fit-content;
}

#past-work-open {
    width: 100vw;
    height: fit-content;

    background-color: #87d8b1;

    text-align: center;

    h1 {
        margin: 0;
        color: white;

        font-size: 8vh;
    }

    img {
        margin-top: -2vh;

        mix-blend-mode: difference;

        width: 5vh;
    }
}

/*CONTACT*/

#past-work-section {
    width: 100vw;
    height: fit-content;
}

#past-work-open {
    width: 100vw;
    height: fit-content;

    background-color: #87d8b1;

    text-align: center;

    h1 {
        margin: 0;
        color: white;

        font-size: 8vh;
    }

    img {
        margin-top: -2vh;

        mix-blend-mode: difference;

        width: 5vh;
    }
}

/*FOR NEXT SECTION USE #e98895 */